body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myElement {
  color: #771a7e;
}

.myBackground {
  background-color: #f3edf4;
}

.myBtnBg {
  background-color: #771a7e;
  color: #fbf9fb;
}

